name: VerifiedMods
on: [push, pull_request]

jobs:
  manifest-checking:
    name: Manifest check
    uses: ./.github/workflows/manifest-check.yml
  mods-verification:
    name: Mod verification
    needs: [manifest-checking]
    uses: ./.github/workflows/mods-verification.yml